In [1]:
import pandas as pd
from path import Path
file_path = Path("./Encoded_Data.csv")
Encoded_data_df = pd.read_csv(file_path)
Encoded_data_df.head()

,duration,country,language 1,weighted_average_rating,total_votes,tot_voters_below_18,tot_voters_below_30,tot_voters_below_45,tot_voters_above_45,tot_male_voters,...,Horror,Family,Action,Romance,Mystery,History,Sci-Fi,Animation,Thriller,Sport
0,100,148,38,5,446,23,23,111,193,299,...,0,0,0,0,0,1,0,0,0,0
1,68,66,68,7,2237,0,402,895,482,1607,...,0,0,0,0,0,0,0,0,0,0
2,60,148,38,6,484,35,35,177,168,354,...,0,0,0,0,0,0,0,0,0,0
3,85,47,49,7,753,0,59,287,276,530,...,0,0,0,1,0,0,0,0,0,0
4,120,66,68,6,273,0,34,99,69,191,...,0,0,0,0,0,1,0,0,0,0

In [2]:
X = Encoded_data_df.copy()
X = X.drop("weighted_average_rating", axis=1)
X.head()

,duration,country,language 1,total_votes,tot_voters_below_18,tot_voters_below_30,tot_voters_below_45,tot_voters_above_45,tot_male_voters,tot_female_voters,...,Horror,Family,Action,Romance,Mystery,History,Sci-Fi,Animation,Thriller,Sport
0,100,148,38,446,23,23,111,193,299,39,...,0,0,0,0,0,1,0,0,0,0
1,68,66,68,2237,0,402,895,482,1607,215,...,0,0,0,0,0,0,0,0,0,0
2,60,148,38,484,35,35,177,168,354,31,...,0,0,0,0,0,0,0,0,0,0
3,85,47,49,753,0,59,287,276,530,93,...,0,0,0,1,0,0,0,0,0,0
4,120,66,68,273,0,34,99,69,191,21,...,0,0,0,0,0,1,0,0,0,0

In [3]:
# Define target vector
y = Encoded_data_df["weighted_average_rating"].values

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
# Splitting into Train and Test sets
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    random_state=1)

# Creating StandardScaler instance
scaler = StandardScaler()

# Fitting Standard Scaler
X_scaler = scaler.fit(X_train)

# Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [6]:
from sklearn.ensemble import GradientBoostingClassifier

# Create a classifier object
learning_rates = [0.05, 0.1, 0.25, 0.5, 0.75, 1]
for learning_rate in learning_rates:
    classifier = GradientBoostingClassifier(n_estimators=20,
                                            learning_rate=learning_rate,
                                            max_features=5,
                                            max_depth=3,
                                            random_state=0)

    # Fit the model
    classifier.fit(X_train_scaled, y_train)
    print("Learning rate: ", learning_rate)

    # Score the model
    print("Accuracy score (training): {0:.3f}".format(
        classifier.score(
            X_train_scaled,
            y_train)))
    print("Accuracy score (validation): {0:.3f}".format(
        classifier.score(
            X_test_scaled,
            y_test)))
    print()

Learning rate:  0.05
Accuracy score (training): 0.406
Accuracy score (validation): 0.404

Learning rate:  0.1
Accuracy score (training): 0.421
Accuracy score (validation): 0.419

Learning rate:  0.25
Accuracy score (training): 0.436
Accuracy score (validation): 0.432

Learning rate:  0.5
Accuracy score (training): 0.409
Accuracy score (validation): 0.403

Learning rate:  0.75
Accuracy score (training): 0.344
Accuracy score (validation): 0.336

Learning rate:  1
Accuracy score (training): 0.187
Accuracy score (validation): 0.186

In [7]:
# Choose a learning rate and create classifier
classifier = GradientBoostingClassifier(n_estimators=20,
                                        learning_rate=0.5,
                                        max_features=5,
                                        max_depth=3,
                                        random_state=0)

# Fit the model
classifier.fit(X_train_scaled, y_train)

# Make Prediction
predictions = classifier.predict(X_test_scaled)
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).head(20)

    Prediction  Actual
0            6       6
1            3       2
2            5       4
3            6       6
4            7       3
5            6       6
6            5       5
7            6       6
8            5       5
9            7       7
10           7       7
11           3       4
12           4       7
13           6       7
14           7       7
15           7       8
16           6       8
17           7       6
18           6       5
19           7       7

In [8]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
# Calculating the accuracy score
acc_score = accuracy_score(y_test, predictions)
print(f"Accuracy Score : {acc_score}")

Accuracy Score : 0.40275730924649394

In [14]:
# Generate the confusion matrix
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"],
    columns=["Predicted 0", "Predicted 1"])

df1.reset_index(drop=True, inplace=True)
df2.reset_index(drop=True, inplace=True)
df = pd.concat([df1, df2], axis=1)


# Displaying results
display(cm_df)

ValueError: Shape of passed values is (10, 10), indices imply (2, 2)

In [15]:
# Generate classification report
print("Classification Report")
print(classification_report(y_test, predictions))

Classification Report
              precision    recall  f1-score   support

           1       0.00      0.00      0.00        28
           2       0.05      0.00      0.01       215
           3       0.28      0.10      0.14       745
           4       0.22      0.14      0.17      1720
           5       0.26      0.35      0.30      3533
           6       0.44      0.47      0.45      7036
           7       0.49      0.52      0.51      6321
           8       0.54      0.25      0.34      1356
           9       0.07      0.02      0.04        81
          10       0.00      0.00      0.00         0

    accuracy                           0.40     21035
   macro avg       0.23      0.19      0.20     21035
weighted avg       0.40      0.40      0.39     21035

/Users/syedbari/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1308: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/syedbari/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1308: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/syedbari/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1308: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))