In [56]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import pandas as pd
import tensorflow as tf

import pandas as pd 
file_path = r"C:/Users/AYOOLA5/Desktop/University of Toronto/PROJECT DATA ANALYTICS/IMDb_movies.csv"
IMDb_movies_df = pd.read_csv(file_path, index_col=0)
IMDb_movies_df

C:\Users\AYOOLA5\anaconda3\envs\mlenv\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,title,original_title,year,date_published,genre,duration,country,language,director,writer,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
imdb_title_id,,,,,,,,,,,,,,,,,,,,,
tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,"Urban Gad, Gebhard Schätzler-Perasini",...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,Victorien Sardou,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",Dante Alighieri,...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9908390,Le lion,Le lion,2020,2020-01-29,Comedy,95,"France, Belgium",French,Ludovic Colbeau-Justin,"Alexandre Coquelle, Matthieu Le Naour",...,"Dany Boon, Philippe Katerine, Anne Serra, Samu...",A psychiatric hospital patient pretends to be ...,5.3,398,NaN,NaN,$ 3507171,NaN,NaN,4.0
tt9911196,De Beentjes van Sint-Hildegard,De Beentjes van Sint-Hildegard,2020,2020-02-13,"Comedy, Drama",103,Netherlands,"German, Dutch",Johan Nijenhuis,"Radek Bajgar, Herman Finkers",...,"Herman Finkers, Johanna ter Steege, Leonie ter...",A middle-aged veterinary surgeon believes his ...,7.7,724,NaN,NaN,$ 7299062,NaN,6.0,4.0
tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,Vineesh Aaradya,"Vineesh Aaradya, Vineesh Aaradya",...,"Anoop Chandran, Indrans, Sona Nair, Simon Brit...",NaN,7.9,265,NaN,NaN,NaN,NaN,NaN,NaN
tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,"Ahmet Faik Akinci, Kasim Uçkan",...,"Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",NaN,6.4,194,NaN,NaN,$ 2833,NaN,NaN,NaN
tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Catalan,Laura Jou,"Coral Cruz, Pep Puig",...,"Maria Morera Colomer, Biel Rossell Pelfort, Is...","Pep, a 13-year-old boy, is in love with a girl...",6.7,102,NaN,NaN,$ 59794,NaN,NaN,2.0

In [60]:
file_path2 = r"C:/Users/AYOOLA5/Desktop/University of Toronto/PROJECT DATA ANALYTICS/IMDb_ratings.csv"
IMDb_ratings_df = pd.read_csv(file_path2, index_col=0)
IMDb_ratings_df.head()

,weighted_average_vote,total_votes,mean_vote,median_vote,votes_10,votes_9,votes_8,votes_7,votes_6,votes_5,...,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
imdb_title_id,,,,,,,,,,,,,,,,,,,,,
tt0000009,5.9,154,5.9,6.0,12,4,10,43,28,28,...,5.7,13.0,4.5,4.0,5.7,34.0,6.4,51.0,6.0,70.0
tt0000574,6.1,589,6.3,6.0,57,18,58,137,139,103,...,6.2,23.0,6.6,14.0,6.4,66.0,6.0,96.0,6.2,331.0
tt0001892,5.8,188,6.0,6.0,6,6,17,44,52,32,...,5.8,4.0,6.8,7.0,5.4,32.0,6.2,31.0,5.9,123.0
tt0002101,5.2,446,5.3,5.0,15,8,16,62,98,117,...,5.5,14.0,6.1,21.0,4.9,57.0,5.5,207.0,4.7,105.0
tt0002130,7.0,2237,6.9,7.0,210,225,436,641,344,169,...,7.3,82.0,7.4,77.0,6.9,139.0,7.0,488.0,7.0,1166.0

In [63]:
file_path3 = r"C:/Users/AYOOLA5/Desktop/University of Toronto/PROJECT DATA ANALYTICS/IMDb_names.csv"
IMDb_names_df = pd.read_csv(file_path3, index_col=0)
IMDb_names_df.head()

,name,birth_name,height,bio,birth_details,date_of_birth,place_of_birth,death_details,date_of_death,place_of_death,reason_of_death,spouses_string,spouses,divorces,spouses_with_children,children
imdb_name_id,,,,,,,,,,,,,,,,
nm0000001,Fred Astaire,Frederic Austerlitz Jr.,177.0,"Fred Astaire was born in Omaha, Nebraska, to J...","May 10, 1899 in Omaha, Nebraska, USA",1899-05-10,"Omaha, Nebraska, USA","June 22, 1987 in Los Angeles, California, USA ...",1987-06-22,"Los Angeles, California, USA",pneumonia,Robyn Smith (27 June 1980 - 22 June 1987) (hi...,2,0,1,2
nm0000002,Lauren Bacall,Betty Joan Perske,174.0,Lauren Bacall was born Betty Joan Perske on Se...,"September 16, 1924 in The Bronx, New York City...",1924-09-16,"The Bronx, New York City, New York, USA","August 12, 2014 in New York City, New York, US...",2014-08-12,"New York City, New York, USA",stroke,Jason Robards (4 July 1961 - 10 September 196...,2,1,2,3
nm0000003,Brigitte Bardot,Brigitte Bardot,166.0,"Brigitte Bardot was born on September 28, 1934...","September 28, 1934 in Paris, France",1934-09-28,"Paris, France",NaN,NaN,NaN,NaN,Bernard d'Ormale (16 August 1992 - present)\n...,4,3,1,1
nm0000004,John Belushi,John Adam Belushi,170.0,"John Belushi was born in Chicago, Illinois, US...","January 24, 1949 in Chicago, Illinois, USA",1949-01-24,"Chicago, Illinois, USA","March 5, 1982 in Hollywood, Los Angeles, Calif...",1982-03-05,"Hollywood, Los Angeles, California, USA",acute cocaine and heroin intoxication,Judith Belushi-Pisano (31 December 1976 - 5 M...,1,0,0,0
nm0000005,Ingmar Bergman,Ernst Ingmar Bergman,179.0,"Ernst Ingmar Bergman was born July 14, 1918, t...","July 14, 1918 in Uppsala, Uppsala län, Sweden",1918-07-14,"Uppsala, Uppsala län, Sweden","July 30, 2007 in Fårö, Gotlands län, Sweden (...",2007-07-30,"Fårö, Gotlands län, Sweden",natural causes,Ingrid Bergman (11 November 1971 - 20 May 199...,5,4,5,8

In [64]:
file_path4 = r"C:/Users/AYOOLA5/Desktop/University of Toronto/PROJECT DATA ANALYTICS/IMDb_title_principals.csv"
IMDb_title_principals_df = pd.read_csv(file_path3, index_col=0)
IMDb_title_principals_df.head()

,name,birth_name,height,bio,birth_details,date_of_birth,place_of_birth,death_details,date_of_death,place_of_death,reason_of_death,spouses_string,spouses,divorces,spouses_with_children,children
imdb_name_id,,,,,,,,,,,,,,,,
nm0000001,Fred Astaire,Frederic Austerlitz Jr.,177.0,"Fred Astaire was born in Omaha, Nebraska, to J...","May 10, 1899 in Omaha, Nebraska, USA",1899-05-10,"Omaha, Nebraska, USA","June 22, 1987 in Los Angeles, California, USA ...",1987-06-22,"Los Angeles, California, USA",pneumonia,Robyn Smith (27 June 1980 - 22 June 1987) (hi...,2,0,1,2
nm0000002,Lauren Bacall,Betty Joan Perske,174.0,Lauren Bacall was born Betty Joan Perske on Se...,"September 16, 1924 in The Bronx, New York City...",1924-09-16,"The Bronx, New York City, New York, USA","August 12, 2014 in New York City, New York, US...",2014-08-12,"New York City, New York, USA",stroke,Jason Robards (4 July 1961 - 10 September 196...,2,1,2,3
nm0000003,Brigitte Bardot,Brigitte Bardot,166.0,"Brigitte Bardot was born on September 28, 1934...","September 28, 1934 in Paris, France",1934-09-28,"Paris, France",NaN,NaN,NaN,NaN,Bernard d'Ormale (16 August 1992 - present)\n...,4,3,1,1
nm0000004,John Belushi,John Adam Belushi,170.0,"John Belushi was born in Chicago, Illinois, US...","January 24, 1949 in Chicago, Illinois, USA",1949-01-24,"Chicago, Illinois, USA","March 5, 1982 in Hollywood, Los Angeles, Calif...",1982-03-05,"Hollywood, Los Angeles, California, USA",acute cocaine and heroin intoxication,Judith Belushi-Pisano (31 December 1976 - 5 M...,1,0,0,0
nm0000005,Ingmar Bergman,Ernst Ingmar Bergman,179.0,"Ernst Ingmar Bergman was born July 14, 1918, t...","July 14, 1918 in Uppsala, Uppsala län, Sweden",1918-07-14,"Uppsala, Uppsala län, Sweden","July 30, 2007 in Fårö, Gotlands län, Sweden (...",2007-07-30,"Fårö, Gotlands län, Sweden",natural causes,Ingrid Bergman (11 November 1971 - 20 May 199...,5,4,5,8

In [70]:
Combined_df = pd.merge(IMDb_movies_df,IMDb_ratings_df,left_index=True, right_index=True)
Combined_df

,title,original_title,year,date_published,genre,duration,country,language,director,writer,...,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
imdb_title_id,,,,,,,,,,,,,,,,,,,,,
tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,Alexander Black,...,5.7,13.0,4.5,4.0,5.7,34.0,6.4,51.0,6.0,70.0
tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,Charles Tait,...,6.2,23.0,6.6,14.0,6.4,66.0,6.0,96.0,6.2,331.0
tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,"Urban Gad, Gebhard Schätzler-Perasini",...,5.8,4.0,6.8,7.0,5.4,32.0,6.2,31.0,5.9,123.0
tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,Victorien Sardou,...,5.5,14.0,6.1,21.0,4.9,57.0,5.5,207.0,4.7,105.0
tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",Dante Alighieri,...,7.3,82.0,7.4,77.0,6.9,139.0,7.0,488.0,7.0,1166.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9908390,Le lion,Le lion,2020,2020-01-29,Comedy,95,"France, Belgium",French,Ludovic Colbeau-Justin,"Alexandre Coquelle, Matthieu Le Naour",...,5.7,11.0,5.0,2.0,5.5,12.0,6.3,22.0,5.3,214.0
tt9911196,De Beentjes van Sint-Hildegard,De Beentjes van Sint-Hildegard,2020,2020-02-13,"Comedy, Drama",103,Netherlands,"German, Dutch",Johan Nijenhuis,"Radek Bajgar, Herman Finkers",...,8.0,47.0,7.3,30.0,7.0,6.0,6.8,13.0,7.7,388.0
tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,Vineesh Aaradya,"Vineesh Aaradya, Vineesh Aaradya",...,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,2.0,2.0
tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,"Ahmet Faik Akinci, Kasim Uçkan",...,NaN,NaN,7.0,1.0,4.0,3.0,1.7,5.0,5.8,5.0
tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Catalan,Laura Jou,"Coral Cruz, Pep Puig",...,6.8,4.0,7.5,4.0,7.0,4.0,6.7,13.0,6.7,60.0

In [71]:
Combined_df.dtypes

title                    object
original_title           object
year                     object
date_published           object
genre                    object
                         ...
top1000_voters_votes    float64
us_voters_rating        float64
us_voters_votes         float64
non_us_voters_rating    float64
non_us_voters_votes     float64
Length: 69, dtype: object

In [87]:
Combined_df.count().head()

title             85855
original_title    85855
year              85855
date_published    85855
genre             85855
dtype: int64

In [100]:
Merged_ratings_movies_df = Combined_df.dropna(axis=0,how="any")
Merged_ratings_movies_df

,title,original_title,year,date_published,genre,duration,country,language,director,writer,...,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
imdb_title_id,,,,,,,,,,,,,,,,,,,,,
tt0017136,Metropolis,Metropolis,1927,1928-10-01,"Drama, Sci-Fi",153,Germany,German,Fritz Lang,"Thea von Harbou, Thea von Harbou",...,8.3,9856.0,8.3,3638.0,8.0,668.0,8.3,31523.0,8.2,69358.0
tt0021749,Luci della città,City Lights,1931,1931-04-02,"Comedy, Drama, Romance",87,USA,English,Charles Chaplin,Charles Chaplin,...,8.5,8282.0,8.4,3306.0,8.1,645.0,8.5,27231.0,8.5,72716.0
tt0027977,Tempi moderni,Modern Times,1936,1937-03-12,"Comedy, Drama, Family",87,USA,English,Charles Chaplin,Charles Chaplin,...,8.5,10739.0,8.4,3576.0,8.2,647.0,8.5,29080.0,8.5,97123.0
tt0029453,Il bandito della Casbah,Pépé le Moko,1937,1937-10-22,"Crime, Drama, Romance",94,France,"French, Arabic",Julien Duvivier,"Henri La Barthe, Henri La Barthe",...,7.7,274.0,8.0,335.0,7.2,222.0,7.8,1773.0,7.7,3020.0
tt0029583,Biancaneve e i sette nani,Snow White and the Seven Dwarfs,1937,1938-11-30,"Animation, Family, Fantasy",83,USA,English,"William Cottrell, David Hand","Jacob Grimm, Wilhelm Grimm",...,7.6,21144.0,8.0,3813.0,7.8,712.0,7.7,38861.0,7.5,72709.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9208444,Impractical Jokers: The Movie,Impractical Jokers: The Movie,2020,2020-02-28,Comedy,92,USA,English,Chris Henchy,"Chris Henchy, Joe Gatto",...,6.7,131.0,6.0,51.0,4.7,62.0,6.2,1213.0,5.4,888.0
tt9214832,Emma.,Emma.,2020,2020-03-27,"Comedy, Drama",124,UK,English,Autumn de Wilde,"Eleanor Catton, Jane Austen",...,6.9,2313.0,6.8,708.0,6.1,170.0,6.9,2954.0,6.6,7433.0
tt9354944,Jexi,Jexi,2019,2019-10-11,"Comedy, Romance",84,"USA, Canada",English,"Jon Lucas, Scott Moore","Jon Lucas, Scott Moore",...,5.9,835.0,6.2,230.0,5.1,130.0,6.0,1985.0,5.9,5945.0
tt9426210,Weathering with You,Tenki no ko,2019,2019-10-14,"Animation, Drama, Family",112,"Japan, China",Japanese,Makoto Shinkai,Makoto Shinkai,...,7.4,517.0,7.3,78.0,6.3,107.0,7.4,1456.0,7.4,5942.0
tt9779516,Cosa mi lasci di te,I Still Believe,2020,2020-03-19,"Biography, Drama, Music",116,USA,English,"Andrew Erwin, Jon Erwin","Jeremy Camp, Jon Erwin",...,6.6,513.0,7.4,202.0,4.8,63.0,6.8,1089.0,6.1,1679.0

In [107]:
Combined_df.value_counts()

title                   85855
original_title          85855
year                    85855
date_published          85855
genre                   85855
                        ...
top1000_voters_votes    85176
us_voters_rating        85646
us_voters_votes         85646
non_us_voters_rating    85854
non_us_voters_votes     85854
Length: 69, dtype: int64

In [86]:
# Generate our categorical variable list
Columns_cat = Combined_df.dtypes[Combined_df.dtypes== "object"].index.tolist()
Columns_cat

['title',
 'original_title',
 'year',
 'date_published',
 'genre',
 'country',
 'language',
 'director',
 'writer',
 'production_company',
 'actors',
 'description',
 'budget',
 'usa_gross_income',
 'worlwide_gross_income']

In [98]:
IMDb_movies_df.count()

title                    85855
original_title           85855
year                     85855
date_published           85855
genre                    85855
duration                 85855
country                  85791
language                 85022
director                 85768
writer                   84283
production_company       81400
actors                   85786
description              83740
avg_vote                 85855
votes                    85855
budget                   23710
usa_gross_income         15326
worlwide_gross_income    31016
metascore                13305
reviews_from_users       78258
reviews_from_critics     74058
dtype: int64

In [103]:
IMDb_ratings_df.count()

weighted_average_vote        85855
total_votes                  85855
mean_vote                    85855
median_vote                  85855
votes_10                     85855
votes_9                      85855
votes_8                      85855
votes_7                      85855
votes_6                      85855
votes_5                      85855
votes_4                      85855
votes_3                      85855
votes_2                      85855
votes_1                      85855
allgenders_0age_avg_vote     33359
allgenders_0age_votes        33359
allgenders_18age_avg_vote    85149
allgenders_18age_votes       85149
allgenders_30age_avg_vote    85845
allgenders_30age_votes       85845
allgenders_45age_avg_vote    85775
allgenders_45age_votes       85775
males_allages_avg_vote       85854
males_allages_votes          85854
males_0age_avg_vote          27411
males_0age_votes             27411
males_18age_avg_vote         84390
males_18age_votes            84390
males_30age_avg_vote         85843
males_30age_votes            85843
males_45age_avg_vote         85754
males_45age_votes            85754
females_allages_avg_vote     85774
females_allages_votes        85774
females_0age_avg_vote        22117
females_0age_votes           22117
females_18age_avg_vote       79334
females_18age_votes          79334
females_30age_avg_vote       84911
females_30age_votes          84911
females_45age_avg_vote       83057
females_45age_votes          83057
top1000_voters_rating        85176
top1000_voters_votes         85176
us_voters_rating             85646
us_voters_votes              85646
non_us_voters_rating         85854
non_us_voters_votes          85854
dtype: int64

In [104]:
IMDb_names_df.count()

name                     297705
birth_name               297705
height                    44681
bio                      204698
birth_details            110612
date_of_birth            110612
place_of_birth           103992
death_details             39933
date_of_death             39933
place_of_death            37038
reason_of_death           22694
spouses_string            45352
spouses                  297705
divorces                 297705
spouses_with_children    297705
children                 297705
dtype: int64

In [105]:
IMDb_title_principals_df.count()

name                     297705
birth_name               297705
height                    44681
bio                      204698
birth_details            110612
date_of_birth            110612
place_of_birth           103992
death_details             39933
date_of_death             39933
place_of_death            37038
reason_of_death           22694
spouses_string            45352
spouses                  297705
divorces                 297705
spouses_with_children    297705
children                 297705
dtype: int64