In [1]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [2]:
imdb_data= pd.read_csv("https://imdbdatasetuoft.s3.us-east-2.amazonaws.com/IMDb_data.csv")

imdb_df = pd.read_csv("https://imdbdatasetuoft.s3.us-east-2.amazonaws.com/Encoded_Data.csv")

imdb_df.head()

   duration  country  language 1  ...  Animation  Thriller  Sport
0       100      148          38  ...          0         0      0
1        68       66          68  ...          0         0      0
2        60      148          38  ...          0         0      0
3        85       47          49  ...          0         0      0
4       120       66          68  ...          0         0      0

[5 rows x 27 columns]

In [3]:
X = imdb_df.copy()
X = X.drop("weighted_average_rating", axis=1)
X.head()

   duration  country  language 1  ...  Animation  Thriller  Sport
0       100      148          38  ...          0         0      0
1        68       66          68  ...          0         0      0
2        60      148          38  ...          0         0      0
3        85       47          49  ...          0         0      0
4       120       66          68  ...          0         0      0

[5 rows x 26 columns]

In [7]:
y = imdb_df["weighted_average_rating"]
y

0        5
1        7
2        6
3        7
4        6
        ..
84132    7
84133    5
84134    8
84135    6
84136    7
Name: weighted_average_rating, Length: 84137, dtype: int64

In [ ]:
# The data in the df column must be reshaped into an array with shape (num_samples, num_features)
# https://stackoverflow.com/questions/18691084/what-does-1-mean-in-numpy-reshape
X = df.YearsExperience.values.reshape(-1, 1)

In [ ]:
X[:5]

array([[1.1],
       [1.3],
       [1.5],
       [2. ],
       [2.2]])

In [ ]:
# The shape of X is 30 samples, with a single feature (column)
X.shape

(30, 1)

In [ ]:
y = df.Salary

In [9]:
# Create a model with scikit-learn
model = LinearRegression()

In [10]:
# Fit the data into the model
# By convention, X is capitalized and y is lowercase
model.fit(X, y)

LinearRegression()

In [11]:
# The model creates predicted y values based on X values
y_pred = model.predict(X)
print(y_pred.shape)

(84137,)

In [13]:
# The slope
# The y-intercept
print(model.coef_)
print(model.intercept_)

[ 6.78107245e-03 -2.34622426e-03  3.10760433e-03 -3.06760565e-05
  2.04133201e-04  4.42254650e-05 -1.24605278e-05  1.45215001e-04
  2.36943365e-05  1.32583081e-05  4.43640878e-01 -2.45739041e-02
  2.27331663e-01  1.39151293e-01 -5.34360734e-02 -1.25319816e-02
 -7.72997479e-01 -4.85351664e-02 -3.77097729e-01  9.21570271e-02
  1.42421115e-01  1.99378932e-01 -4.36481626e-01  7.48261940e-01
 -2.47788414e-01 -2.87858479e-02]
5.134245859551609

In [17]:
# importing train_test_split from sklearn
from sklearn.model_selection import train_test_split
# splitting the data
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [19]:
prediction = model.predict(x_test)
prediction

array([5.81592578, 5.87096888, 6.36326215, ..., 6.08052184, 6.17693116,
       6.79699686])

In [21]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
import numpy as np
# predicting the accuracy score
score=r2_score(y_test,prediction)
print("r2 socre is ",score)
print("mean_sqrd_error is==",mean_squared_error(y_test,prediction))
print("root_mean_squared error of is==",np.sqrt(mean_squared_error(y_test,prediction)))

r2 socre is  0.24489492727110707
mean_sqrd_error is== 1.2087212257382316
root_mean_squared error of is== 1.0994185853159986